Repository thoreinstein/rig: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, golangci-lint-fmt, go-build, go-test, buf-lint

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.2.0"

repos:
  # golangci-lint (local hooks to support git worktrees)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: sh -c 'GOFLAGS=-buildvcs=false golangci-lint run --timeout=5m ./...'
        language: system
        types: [go]
        pass_filenames: false
      - id: golangci-lint-fmt
        name: golangci-lint fmt
        entry: sh -c 'GOFLAGS=-buildvcs=false golangci-lint fmt ./...'
        language: system
        types: [go]
        pass_filenames: false

  # Go module maintenance
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-mod-tidy

  # Go build and test
  - repo: local
    hooks:
      - id: go-build
        name: go build
        entry: go build -buildvcs=false -o /dev/null ./...
        language: system
        pass_filenames: false
        types: [go]
      - id: go-test
        name: go test
        entry: sh -c 'unset $(env | grep -o "^GIT_[^=]*" | xargs); go test ./...'
        language: system
        pass_filenames: false
        types: [go]
      - id: buf-lint
        name: buf lint
        entry: buf lint
        language: system
        types: [proto]
        pass_filenames: false

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-case-conflict

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: ["-c", ".yamllint.yaml"]

  # GitHub Actions linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  # GitHub Actions security scanning
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.18.0
    hooks:
      - id: zizmor
        args: ["--min-severity=medium"]

test(config): add Validate test cases for clone.protocol (rig-27t)
  pkg/config/config_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

Update GEMINI.md
  GEMINI.md
Due: none

feat(knowledge): refactor PluginProvider and add comprehensive lifecycle unit tests
  pkg/knowledge/plugin.go
  pkg/knowledge/plugin_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

chore(knowledge): refine timeout assertion slack logic in tests
  pkg/knowledge/plugin_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

feat(testing): add testify and mockery v3 config (rig-1u9.1, rig-1u9.2)
  .mockery.yaml
  go.mod
Due: none

feat(testing): generate initial mocks and update Makefile (rig-1u9.3, rig-1u9.4)
  .mockery.yaml
  Makefile
  go.mod
  pkg/api/v1/mocks/mocks_test.go
  pkg/knowledge/mocks/mocks_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

docs: update testing conventions for mockery and testify (rig-1u9.5)
  CLAUDE.md
Due: none

feat(testing): refine mockery config and generated artifacts (rig-1u9)
  .mockery.yaml
  GEMINI.md
  Makefile
  pkg/api/v1/mocks/mock_knowledge_service_client.go
  pkg/knowledge/mocks/mock_plugin_manager.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

feat(testing): implement manual KnowledgeServiceClient mock to fix variadic expansion bug (rig-1u9)
  .mockery.yaml
  pkg/api/v1/mocks/mock_knowledge_service_client.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

docs: codify testing truths and traps from rig-1u9
  GEMINI.md
Due: none

Update docs
  CLAUDE.md
  docs/v1/testing-standards.md
Due: none

feat(rig-9i0.2): extract PluginManager interface for unit testing
  pkg/ticket/plugin.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

test(rig-9i0.2): add comprehensive unit tests for PluginProvider
  pkg/ticket/plugin_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

fix(rig-9i0.2): tighten IsAvailable check and improve robustness tests
  pkg/ticket/plugin.go
  pkg/ticket/plugin_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

fix(rig-9i0.2): ensure IsAvailable uses deferred release and verify 5s timeout
  pkg/ticket/plugin.go
  pkg/ticket/plugin_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

fix(rig-9i0.2): use dynamic lowerSlack for timeout assertions
  pkg/ticket/plugin_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

feat(rig-9i0.1): Refactor VCS PluginProvider to use local PluginManager interface
  pkg/vcs/plugin.go
  pkg/vcs/resolve.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

test(rig-9i0.1): Add unit tests for VCS PluginProvider session lifecycle
  pkg/vcs/plugin_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

feat(rig-9i0.1): Refactor Knowledge resolve to use PluginManager interface
  pkg/knowledge/resolve.go
  pkg/knowledge/resolve_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

feat(rig-9i0.1): Refactor Ticket resolve to use PluginManager interface
  pkg/ticket/resolve.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

feat(rig-9i0.1): Add typed-nil interface guards to domain providers
  pkg/ai/provider.go
  pkg/knowledge/resolve.go
  pkg/ticket/resolve.go
  pkg/vcs/resolve.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

feat(rig-9i0.1): Extract IsNilInterface helper to pkg/internal
  pkg/ai/provider.go
  pkg/internal/nilcheck.go
  pkg/internal/nilcheck_test.go
  pkg/knowledge/resolve.go
  pkg/ticket/resolve.go
  pkg/vcs/resolve.go
  pkg/workflow/merge.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

feat(rig-9i0.1): Expand IsNilInterface to handle maps, slices, funcs, and channels
  pkg/internal/nilcheck.go
  pkg/internal/nilcheck_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

feat(rig-dq1.3): Context & Secret Proxy Proto implementation
  pkg/api/v1/context.pb.go
  pkg/api/v1/context.proto
  pkg/api/v1/context_grpc.pb.go
  pkg/api/v1/secret.pb.go
  pkg/api/v1/secret.proto
  pkg/api/v1/secret_grpc.pb.go
  pkg/plugin/manager.go
  pkg/plugin/secret.go
  pkg/plugin/secret_test.go
  pkg/sdk/secret.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test, buf-lint

feat(rig-dq1.3): implement bulk secrets, token rotation, and context SDK
  pkg/plugin/secret.go
  pkg/plugin/secret_test.go
  pkg/sdk/context.go
  pkg/sdk/context_test.go
  pkg/sdk/secret.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

fix(sdk): prevent token update race in RefreshToken
  pkg/sdk/secret.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

fix(host): implement real ContextService and fix SDK secret token data race
  pkg/plugin/context.go
  pkg/plugin/context_test.go
  pkg/plugin/manager.go
  pkg/plugin/secret.go
  pkg/plugin/secret_test.go
  pkg/plugin/token_store.go
  pkg/sdk/secret.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

fix(host): ensure rotated tokens are revoked on shutdown and restore wire compatibility for GetSecretResponse
  pkg/api/v1/secret.pb.go
  pkg/api/v1/secret.proto
  pkg/plugin/manager.go
  pkg/plugin/secret.go
  pkg/plugin/secret_test.go
  pkg/plugin/token_store.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test, buf-lint

test(host): add integration tests for wire compatibility and token cleanup
  pkg/plugin/integration_compat_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

fix: address nits in token rotation and SDK fallback logic
  pkg/api/v1/secret.proto
  pkg/api/v1/secret_grpc.pb.go
  pkg/plugin/context.go
  pkg/plugin/manager.go
  pkg/plugin/secret.go
  pkg/plugin/token_store.go
  pkg/sdk/secret.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test, buf-lint

fix(sdk): simplify legacy fallback and add integration tests
  pkg/sdk/secret.go
  pkg/sdk/secret_integration_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

fix(host): revert to single token unregister during failed startup
  pkg/plugin/manager.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

fix: address nits in RefreshToken error reporting and SDK synchronization
  pkg/plugin/secret.go
  pkg/sdk/context.go
  pkg/sdk/secret_integration_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

feat(rig-76a): sanitize plugin environment
  cmd/daemon.go
  cmd/util.go
  pkg/bootstrap/bootstrap.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/plugin/env.go
  pkg/plugin/env_test.go
  pkg/plugin/executor.go
  pkg/plugin/executor_test.go
  pkg/plugin/manager.go
  pkg/plugin/manager_test.go
  pkg/plugin/testdata/mock_plugin.go
  pkg/plugin/types.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

refactor(rig-76a): harden plugin isolation and optimize secret resolution
  pkg/plugin/context.go
  pkg/plugin/context_test.go
  pkg/plugin/env.go
  pkg/plugin/executor.go
  pkg/plugin/integration_compat_test.go
  pkg/plugin/manager.go
  pkg/plugin/secret.go
  pkg/plugin/secret_test.go
  pkg/plugin/token_store.go
  pkg/plugin/types.go
  pkg/sdk/secret.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

refactor(rig-76a): apply final refinements to plugin context and state management
  pkg/plugin/context.go
  pkg/plugin/executor_test.go
  pkg/plugin/manager.go
  pkg/plugin/secret_test.go
  pkg/plugin/testdata/mock_plugin.go
  pkg/plugin/token_store.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

refactor(rig-76a): prevent full env exposure and add bulk limit tests
  pkg/plugin/env.go
  pkg/plugin/env_test.go
  pkg/plugin/secret_test.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test

refactor(rig-76a): correctly handle nil metadata in context proxy
  pkg/plugin/context.go
Due: golangci-lint, golangci-lint-fmt, go-build, go-test
